<div class="fizz-flex-item fizz-relative" id="search-form">
  <input type="search" class="fizz-input-search" placeholder="Search Fizz" id="search-str" autocomplete="off">
  <ol id="search-results" class="fizz-is-hidden fizz-card-floating"></ol>
</div>