{% set description %}
<p>Add an empty <code>&lt;div&gt;</code> with the class <code>.fizz-icon-spinner</code>. or <code>.fizz-icon-spinner-small</code>.</p>
{% endset %}

{%- set html -%}
<div class="fizz-icon-spinner"></div>
<div class="fizz-icon-spinner-small"></div>
{%- endset -%}

{% include "code.njk" %}