$icon-checkmark-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M6 17.1l6.8 6.9L26 10.7 23.3 8 12.8 18.6l-4.2-4.2L6 17.1z' fill='%23ffffff'/%3E%3C/svg%3E%0A");

$icon-checkmark-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M6 17.1l6.8 6.9L26 10.7 23.3 8 12.8 18.6l-4.2-4.2L6 17.1z' fill='%23002B48'/%3E%3C/svg%3E%0A");

$icon-chevron-right-gray: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.4 7.6l8.2 8.4-8.2 8.4L12 28l11.6-12L12 4z' fill='%23BFBFBF'/%3E%3C/svg%3E");

$icon-chevron-right-brand: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.4 7.6l8.2 8.4-8.2 8.4L12 28l11.6-12L12 4z' fill='%23002B48'/%3E%3C/svg%3E");

$icon-chevron-right-brand-secondary: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.4 7.6l8.2 8.4-8.2 8.4L12 28l11.6-12L12 4z' fill='%23008FBE'/%3E%3C/svg%3E");

$icon-chevron-right-inverse: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.4 7.6l8.2 8.4-8.2 8.4L12 28l11.6-12L12 4z' fill='%23FFFFFF'/%3E%3C/svg%3E");

$icon-chevron-left-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M23.6 24.4L15.4 16l8.2-8.4L20 4 8.4 16 20 28z' fill='%23002B48'/%3E%3C/svg%3E");

$icon-chevron-left-brand-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M23.6 24.4L15.4 16l8.2-8.4L20 4 8.4 16 20 28z' fill='%23008FBE'/%3E%3C/svg%3E");

$icon-chevron-left-inverse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M23.6 24.4L15.4 16l8.2-8.4L20 4 8.4 16 20 28z' fill='%23FFFFFF'/%3E%3C/svg%3E");

$icon-chevron-down-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M24.4 8.4L16 16.6 7.6 8.4 4 11.9l12 11.7 12-11.7z' fill='%23002B48'/%3E%3C/svg%3E");

$icon-chevron-down-brand-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M24.4 8.4L16 16.6 7.6 8.4 4 11.9l12 11.7 12-11.7z' fill='%23008FBE'/%3E%3C/svg%3E");

$icon-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M1.175 1.913L5 5.729l3.825-3.817L10 3.087l-5 5-5-5 1.175-1.174z' fill='%231B1B1B'/%3E%3C/svg%3E%0A");

$icon-chevron-up-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M7.6 23.6l8.4-8.2 8.4 8.2L28 20 16 8.4 4 20z' fill='%23002B48'/%3E%3C/svg%3E");

$icon-chevron-up-brand-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M7.6 23.6l8.4-8.2 8.4 8.2L28 20 16 8.4 4 20z' fill='%23008FBE'/%3E%3C/svg%3E");

$icon-upload: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M14.3 8v15h3.5V8l7 7 2.5-2.4-10-10c-.7-.7-1.8-.7-2.4 0l-10 10L7.3 15l7-7zm12.2 18.5h-21v-5.2H2v7c0 1 .7 1.8 1.8 1.8h24.5c1 0 1.8-.7 1.8-1.8v-7h-3.5v5.2z' fill='%23002B48'/%3E%3C/svg%3E ");

$icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M22 19.6h-1.3l-.4-.4c1.6-1.8 2.5-4.2 2.5-6.8C22.8 6.7 18.2 2 12.4 2S2 6.7 2 12.4s4.7 10.4 10.4 10.4c2.6 0 4.9-.9 6.8-2.5l.4.4V22l8 8 2.4-2.4-8-8zm-9.6 0c-4 0-7.2-3.2-7.2-7.2s3.2-7.2 7.2-7.2 7.2 3.2 7.2 7.2-3.2 7.2-7.2 7.2z' fill='%23002B48'/%3E%3C/svg%3E");

$icon-plus-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30 18H18v12h-4V18H2v-4h12V2h4v12h12v4z' fill='%23002B48'/%3E%3C/svg%3E%0A");

$icon-plus-brand-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30 18H18v12h-4V18H2v-4h12V2h4v12h12v4z' fill='%23008FBE'/%3E%3C/svg%3E%0A");

$icon-minus-brand: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30 18H2v-4h28v4z' fill='%23002B48'/%3E%3C/svg%3E%0A");

$icon-minus-brand-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30 18H2v-4h28v4z' fill='%23008FBE'/%3E%3C/svg%3E%0A");

$icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M2 28.1h28L16 3.9 2 28.1zm15.3-3.8h-2.5v-2.5h2.5v2.5zm0-5.1h-2.5v-5.1h2.5v5.1z' fill='%23FFAB00'/%3E%3C/svg%3E ");

$icon-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16.108 3C9.448 3 4 8.76 4 15.8c0 7.04 5.449 12.8 12.108 12.8 6.66 0 12.108-5.76 12.108-12.8 0-7.04-5.448-12.8-12.108-12.8zm1.21 19.2h-2.42v-2.56h2.42v2.56zm0-5.12h-2.42V9.4h2.42v7.68z' fill='%23CB2431'/%3E%3C/svg%3E%0A");

$icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 2C8.3 2 2 8.3 2 16s6.3 14 14 14 14-6.3 14-14S23.7 2 16 2zm1.4 21h-2.8v-8.4h2.8V23zm0-11.2h-2.8V9h2.8v2.8z' fill='%0A%23226FA4'/%3E%3C/svg%3E%0A");

$icon-success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 2C8.3 2 2 8.3 2 16s6.3 14 14 14 14-6.3 14-14S23.7 2 16 2zm-3 21l-6.8-6.7 1.9-1.9 4.8 4.8L23.2 9l1.9 1.9L13 23z' fill='%2336B37E'/%3E%3C/svg%3E%0A");

$icon-triangle-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M28 10L16 22 4 10h24z' fill='%23848484'/%3E%3C/svg%3E");

$icon-triangle-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M10 4l12 12-12 12V4z' fill='%23848484'/%3E%3C/svg%3E%0A");