
$color-black: #000000;
$color-gray-800: #1B1B1B;
$color-gray-900: #000000;
$color-white: #FFFFFF;

$font-family-body: Inter, sans-serif;
$font-size-l: 1.5rem;
$font-size-m: 1rem;
$font-size-s: .875rem;
$font-weight-regular: 400;
$font-weight-semibold: 600;
