---
title: Forms
---

{% import 'macros/code.njk' as code %}

<h2 class="fizz-heading-2">Text Input</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="input-text">Label</label>
  <input type="text" id="input-text" name="input-text" placeholder="Text Input" class="fizz-input-text">
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="input-text">Label</label>
<input type="text" id="input-text" name="input-text" placeholder="Text Input" class="fizz-input-text">
{% endcall %}

<h2 class="fizz-heading-2">Search Input</h2>

<input type="search" id="input-search" name="input-search" placeholder="Search Input" class="fizz-input-search">

{% call code.sample() %}
<input type="search" id="input-search" name="input-search" placeholder="Search Input" class="fizz-input-search">
{% endcall %}

<h2 class="fizz-heading-2">Small Input</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="input-text2">Label</label>
  <input type="text" id="input-text2" name="input-text2" placeholder="Text Input" class="fizz-input-text fizz-input-small">
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="input-text2">Label</label>
<input type="text" id="input-text2" name="input-text2" placeholder="Text Input" class="fizz-input-text fizz-input-small">
{% endcall %}

<h2 class="fizz-heading-2">Input Error</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="input-text3">Label</label>
  <input type="text" id="input-text3" name="input-text3" placeholder="Text Input" class="fizz-input-text fizz-input-error fizz-stack-4">

  <p class="fizz-flex-row-4 fizz-text-urgent fizz-text-medium">
    {% icon "info", "fizz-icon-16" %}
    <span>This is an error message</span>
  </p>
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="input-text">Label</label>
<input type="text" id="input-text" name="input-text" placeholder="Text Input" class="fizz-input-text fizz-input-error fizz-stack-4">

<p class="fizz-flex-row-4 fizz-text-urgent fizz-text-medium">
  {% icon "info", "fizz-icon-16" %}
  <span>This is an error message</span>
</p>
{% endcall %}

<h2 class="fizz-heading-2">Textarea</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="input-textarea">Label</label>
  <textarea class="fizz-textarea" name="textarea" id="textarea" placeholder="Textarea"></textarea>
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="textarea">Label</label>
<textarea class="fizz-textarea" name="textarea" id="textarea" placeholder="Textarea"></textarea>
{% endcall %}

<h2 class="fizz-heading-2">Select</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="select">Label</label>
  <select class="fizz-select" name="select" id="select">
    <option>Select One...</option>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="select">Label</label>
<select class="fizz-select" name="select" id="select">
  <option>Select One...</option>
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
</select>
{% endcall %}

<h2 class="fizz-heading-2">Small Select</h2>

<div>
  <label class="fizz-label fizz-stack-4" for="select">Label</label>
  <select class="fizz-select fizz-input-small" name="select" id="select">
    <option>Select One...</option>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>

{% call code.sample() %}
<label class="fizz-label fizz-stack-4" for="select">Label</label>
<select class="fizz-select fizz-input-small" name="select" id="select">
  <option>Select One...</option>
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
</select>
{% endcall %}

<h2 class="fizz-heading-2">Checkbox</h2>

<div class="fizz-surface fizz-inset-square-16">
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox1">
    <input type="checkbox" class="fizz-checkbox" name="checkbox" id="checkbox1" checked>
    <span>Checkbox 1</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox2">
    <input type="checkbox" name="checkbox" id="checkbox2" class="fizz-checkbox">
    <span>Checkbox 2</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox3">
    <input type="checkbox" name="checkbox" id="checkbox3" class="fizz-checkbox" disabled checked>
    <span>Checkbox 3</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox4">
    <input type="checkbox" name="checkbox" id="checkbox4" class="fizz-checkbox" disabled>
    <span>Checkbox 4</span>
  </label>
</div>

{% call code.sample() %}
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox1">
  <input type="checkbox" class="fizz-checkbox" name="checkbox" id="checkbox1" checked>
  <span>Checkbox 1</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox2">
  <input type="checkbox" name="checkbox" id="checkbox2" class="fizz-checkbox">
  <span>Checkbox 2</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox3">
  <input type="checkbox" name="checkbox" id="checkbox3" class="fizz-checkbox" disabled checked>
  <span>Checkbox 3</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox4">
  <input type="checkbox" name="checkbox" id="checkbox4" class="fizz-checkbox" disabled>
  <span>Checkbox 4</span>
</label>
{% endcall %}

<h3 class="fizz-heading-3">Large Checkbox</h3>

<div class="fizz-surface fizz-inset-square-16">
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox5">
    <input type="checkbox" name="checkbox-large" id="checkbox5" class="fizz-checkbox-large" checked>
    <span>Checkbox 5</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox6">
    <input type="checkbox" name="checkbox-large" id="checkbox6" class="fizz-checkbox-large">
    <span>Checkbox 6</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox7">
    <input type="checkbox" name="checkbox-large" id="checkbox7" class="fizz-checkbox-large" disabled checked>
    <span>Checkbox 7</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="checkbox8">
    <input type="checkbox" name="checkbox-large" id="checkbox8" class="fizz-checkbox-large" disabled>
    <span>Checkbox 8</span>
  </label>
</div>

{% call code.sample() %}
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox5">
  <input type="checkbox" name="checkbox-large" id="checkbox5" class="fizz-checkbox-large" checked>
  <span>Checkbox 5</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox6">
  <input type="checkbox" name="checkbox-large" id="checkbox6" class="fizz-checkbox-large">
  <span>Checkbox 6</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox7">
  <input type="checkbox" name="checkbox-large" id="checkbox7" class="fizz-checkbox-large" disabled checked>
  <span>Checkbox 7</span>
</label>
<label class="fizz-flex-row-8 fizz-stack-12" for="checkbox8">
  <input type="checkbox" name="checkbox-large" id="checkbox8" class="fizz-checkbox-large" disabled>
  <span>Checkbox 8</span>
</label>
{% endcall %}

<h2 class="fizz-heading-2" id="radio-button">Radio Button</h2>

<div class="fizz-surface fizz-inset-square-16">
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio1">
    <input type="radio" class="fizz-radio-button" name="radio" id="radio1" checked>
    <span>Radio Button 1</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio2">
    <input type="radio" name="radio" id="radio2" class="fizz-radio-button">
    <span>Radio Button 2</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio3">
    <input type="radio" name="radio-checked-disabled" id="radio3" class="fizz-radio-button" disabled checked>
    <span>Radio Button 3</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio4">
    <input type="radio" name="radio" id="radio4" class="fizz-radio-button" disabled>
    <span>Radio Button 4</span>
  </label>
</div>

{% call code.sample() %}
<div class="fizz-surface fizz-inset-square-16">
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio1">
    <input type="radio" class="fizz-radio-button" name="radio" id="radio1" checked>
    <span>Radio Button 1</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio2">
    <input type="radio" name="radio" id="radio2" class="fizz-radio-button">
    <span>Radio Button 2</span>
  </label>
  <label class="fizz-flex-row-8 fizz-stack-12" for="radio3">
    <input type="radio" name="radio" id="radio3" class="fizz-radio-button" disabled>
    <span>Radio Button 3</span>
  </label>
</div>
{% endcall %}

<h2 class="fizz-heading-2" id="file-upload">File Upload</h2>

<label for="file-upload" class="fizz-file-upload">
  <span>Upload</span>
  <input type="file" name="file-upload" id="file-upload">
</label>

{% call code.sample() %}
<label for="file-upload" class="fizz-file-upload">
  <span>Upload</span>
  <input type="file" name="file-upload" id="file-upload">
</label>
{% endcall %}

<label for="file-upload-disabled" class="fizz-file-upload fizz-is-disabled">
  <input type="file" id="file-upload-disabled" disabled>
  <span>Upload</span>
  <div class="fizz-progress" style="--progress: 80%"></div>
  <p>Uploading&hellip;</p>
</label>

{% call code.sample() %}
<label for="file-upload-disabled" class="fizz-file-upload fizz-is-disabled">
  <input type="file" id="file-upload-disabled" disabled>
  <span>Upload</span>
  <div class="fizz-progress" style="--progress: 80%"></div>
  <p>Uploading&hellip;</p>
</label>
{% endcall %}
<br>

<h2 class="fizz-heading-2" id="progress-bar">Progress Bar</h2>

<p>Apply the submission progress bar as a stand alone style with, <strong>.fizz-progress</strong></p>
<div class="fizz-heading-3 fizz-text-center">Uploading 60%</div>
  <div class="fizz-progress" style="--progress: 60%"></div>
</div>

{% call code.sample() %}
<div class="fizz-heading-3 fizz-text-center">Uploading 60%</div>
  <div class="fizz-progress" style="--progress: {percentage}%"></div>
</div>
{% endcall %}
