---
title: Lists
---

{% import 'macros/code.njk' as code %}

<h2 class="fizz-heading-2">Unordered List</h2>

<ul class="fizz-unordered-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
</ul>

{% call code.sample() %}
<ul class="fizz-unordered-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
</ul>
{% endcall %}

<h2 class="fizz-heading-2">Ordered List</h2>

<ol class="fizz-ordered-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
</ol>

{% call code.sample() %}
<ol class="fizz-ordered-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
</ol>
{% endcall %}

<h2 class="fizz-heading-2">Horizontal List</h2>

<ul class="fizz-horizontal-list">
  <li><a href="#">Menu Item One</a></li>
  <li><a href="#">Menu Item Two</a></li>
  <li><a href="#">Menu Item Three</a></li>
</ul>

{% call code.sample() %}
<ul class="fizz-horizontal-list">
  <li><a href="#">Menu Item One</a></li>
  <li><a href="#">Menu Item Two</a></li>
  <li><a href="#">Menu Item Three</a></li>
</ul>
{% endcall %}

<h2 class="fizz-heading-2">Definition List</h2>

<dl class="fizz-definition-list">
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, eos iste! Voluptates omnis asperiores libero voluptas, porro provident unde accusamus veritatis excepturi earum similique saepe, adipisci cumque nihil sapiente quam!</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit ratione veritatis sit minima reprehenderit voluptatem similique cum voluptatum praesentium aliquam, velit ab porro, eveniet odio nam, consequatur inventore harum.</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia esse porro veniam nesciunt iste quisquam et, vero praesentium numquam! Ipsum iste suscipit ipsa unde, cupiditate libero magnam perferendis illo assumenda?</dd>
</dl>

{% call code.sample() %}
<dl class="fizz-definition-list">
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, eos iste! Voluptates omnis asperiores libero voluptas, porro provident unde accusamus veritatis excepturi earum similique saepe, adipisci cumque nihil sapiente quam!</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit ratione veritatis sit minima reprehenderit voluptatem similique cum voluptatum praesentium aliquam, velit ab porro, eveniet odio nam, consequatur inventore harum.</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia esse porro veniam nesciunt iste quisquam et, vero praesentium numquam! Ipsum iste suscipit ipsa unde, cupiditate libero magnam perferendis illo assumenda?</dd>
</dl>
{% endcall %}

<h2 class="fizz-heading-2">Horizontal Definition List</h2>

<dl class="fizz-definition-list-horizontal">
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, eos iste! Voluptates omnis asperiores libero voluptas, porro provident unde accusamus veritatis excepturi earum similique saepe, adipisci cumque nihil sapiente quam!</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit ratione veritatis sit minima reprehenderit voluptatem similique cum voluptatum praesentium aliquam, velit ab porro, eveniet odio nam, consequatur inventore harum.</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia esse porro veniam nesciunt iste quisquam et, vero praesentium numquam! Ipsum iste suscipit ipsa unde, cupiditate libero magnam perferendis illo assumenda?</dd>
</dl>
{% call code.sample() %}
<dl class="fizz-definition-list-horizontal">
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, eos iste! Voluptates omnis asperiores libero voluptas, porro provident unde accusamus veritatis excepturi earum similique saepe, adipisci cumque nihil sapiente quam!</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit ratione veritatis sit minima reprehenderit voluptatem similique cum voluptatum praesentium aliquam, velit ab porro, eveniet odio nam, consequatur inventore harum.</dd>
  <dt>Detail List Term</dt>
  <dd>Description Detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia esse porro veniam nesciunt iste quisquam et, vero praesentium numquam! Ipsum iste suscipit ipsa unde, cupiditate libero magnam perferendis illo assumenda?</dd>
</dl>
{% endcall %}

<h2 class="fizz-heading-2">Option Item List</h2>

<div class="fizz-surface fizz-inset-square-16">
  <ul class="fizz-option-item-list fizz-surface fizz-inset-square-32">
    <li>
      <p><strong>Credit or Debit Card</strong></p>
      <p>3% convenience fee per transaction</p>
    </li>
    <li>
      <p><strong>Bank Account</strong></p>
      <p>No transaction fee</p>
    </li>
  </ul>
</div>

{% call code.sample() %}
<ul class="fizz-option-item-list">
  <li>
    <p><strong>Credit or Debit Card</strong></p>
    <p>3% convenience fee per transaction</p>
  </li>
  <li>
    <p><strong>Bank Account</strong></p>
    <p>No transaction fee</p>
  </li>
</ul>
{% endcall %}
